
[class^="icon-"], [class*=" icon-"] {
    vertical-align: baseline;
}

h1 {
    text-align: center;
}

#lists li a {
    display: block;
    text-decoration:none;
    font-size: 16px;
    padding: 5px;
}

#lists li a:hover, #list li:hover{
    background-color: #EEE;
}

#lists li a i {
    float: right;
}
 
#lists li, #list li{
    border-left: 5px solid #ccc;
    border-bottom: 2px solid #ccc;
}

#list li {
    padding: 5px;
}

#list li a {
    display: inline-block;
    float: right;
}

.gt-800 #list h2 i.icon-arrow-left {
    display: none;
}

html[id*='alist-'] #list {
    display: block;
}

form input,
form button 
{
    display: inline-block !important;
    margin:none
}

html[id*='alist-'] #new_list,
html[id*='alist-'] #new_item
{
    display: none;
}

#lists-page #lists {
    display: block
}

#lists-page #new_list,
#lists-page #new_item,
#lists-page #list
{
    display: none;
}

#new-list-page #new-list {
    display: block;
}

#new-list-page #list ,
#new-list-page #new_item
{
    display: none;
}


#new-item-page #new_item {
    display: block;
}

#new-item-page #list ,
#new-item-page #new_list
{
    display: none;
}
